.app.dark {
  --bg-color: #191a19;
  --inverted-bg-color: #1c0c5b;
  --primary-color: #e9a6a6;
  --inverted-primary-color: #8e05c2;
  --secondary-color: #864879;
  --inverted-secondary-color: #700b97;
}
